    body {
      background: url('../images/bg.jpg') fixed no-repeat;background-size: cover;
      font-family: 'Montserrat', sans-serif;
    }
    .container1{
        position: absolute;
        margin: auto;
        right: 20%;
        top: 20%;
        left: 20%;
        bottom: 20%;
    }
    form {
      background: rgba(255, 255, 255, 0.3);
      padding: 3em;
      border-radius: 20px;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
      text-align: auto;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    form p {
      font-weight: bolder;
      color: pink;
      font-size: 1.4rem;
      margin-top: 0;
    }
